In [1]:
import pandas as pd
import matplotlib as plt
category_data = pd.read_csv('category.csv', index_col = 0)
category_data.head()

                  name          last_update
category_id
1               Action  2006-02-15 04:46:27
2            Animation  2006-02-15 04:46:27
3             Children  2006-02-15 04:46:27
4             Classics  2006-02-15 04:46:27
5               Comedy  2006-02-15 04:46:27

In [ ]:
# This dataset need no further analysis