# Data Wrangling
Let's import and explore the dataset

There are 15 datasets, namle
<ol> 
    <li>actor</li>
    <li>address</li>
    <li>category</li>
    <li>city</li>
    <li>country</li>
    <li>customer</li>
    <li>film</li>
    <li>film_actor</li>
    <li>film_category</li>
    <li>film_text</li>
    <li>language</li>
    <li>payment</li>
    <li>rental</li>
    <li>staff</li>
    <li>store</li>
</ol>

In [1]:
# Let's import pandas and matplotLab
import pandas as pd
import matplotlib as plt
print('Libraries imported successfully')

Libraries imported successfully

In [2]:
# Let's import all the 15 dataset into the jupyter notebook
actor_data = pd.read_csv('actor.csv', index_col = 0)
address_data = pd.read_csv('address.csv', index_col = 0)
category_data = pd.read_csv('category.csv', index_col = 0)
city_data = pd.read_csv('city.csv', index_col = 0)
country_data = pd.read_csv('country.csv', index_col = 0)
customer_data = pd.read_csv('customer.csv', index_col = 0)
film_data = pd.read_csv('film.csv', index_col = 0)
film_actor_data = pd.read_csv('film_actor.csv', index_col = 0)
film_category_data = pd.read_csv('film_category.csv', index_col = 0)
film_text_data = pd.read_csv('film_text.csv', index_col = 0)
language_data = pd.read_csv('language.csv', index_col = 0)
payment_data = pd.read_csv('payment.csv', index_col = 0)
rental_data = pd.read_csv('rental.csv', index_col = 0)
staff_data = pd.read_csv('staff.csv', index_col = 0)
store_data = pd.read_csv('store.csv', index_col = 0)

# Let's name each dataFrame
actor_data.name = 'actor_data'
address_data.name = 'address_data'
category_data.name = 'category_data'
city_data.name = 'city_data'
country_data.name = 'country_data'
customer_data.name = 'customer_data'
film_data.name = 'film_data'
film_actor_data.name = 'film_actor_data'
film_category_data.name = 'film_category_data'
film_text_data.name = 'film_text_data'
language_data.name = 'language_data'
payment_data.name = 'payment_data'
rental_data.name = 'rental_data'
staff_data.name = 'staff_data'
store_data.name = 'store_data'
print('15 datasets imported successfully')

15 datasets imported successfully

In [3]:
# Put the tables in an array in order to iterate them
array_table = [actor_data, category_data, city_data, country_data, customer_data, film_data, film_actor_data, 
               film_category_data, film_text_data, language_data, payment_data,rental_data, staff_data, store_data,]

In [9]:
# View the shape of one dataset
store_data.shape

(2, 3)

In [5]:
# Store the shape of all the dataset in a comprehensive datFrame
summary_table = pd.DataFrame({'rows':[actor_data.shape[0], address_data.shape[0], category_data.shape[0], 
                    city_data.shape[0],country_data.shape[0], customer_data.shape[0], film_data.shape[0], 
                    film_actor_data.shape[0], film_category_data.shape[0], film_text_data.shape[0], language_data.shape[0],
                    payment_data.shape[0], rental_data.shape[0], staff_data.shape[0], store_data.shape[0],
                       ],
              'column':[actor_data.shape[1], address_data.shape[1], category_data.shape[1],
                    city_data.shape[1], country_data.shape[1], customer_data.shape[1], film_data.shape[1],
                    film_actor_data.shape[1], film_category_data.shape[1], film_text_data.shape[1], language_data.shape[1],
                    payment_data.shape[1], rental_data.shape[1], staff_data.shape[1], store_data.shape[1]
                       ],
             },
             index=['actor_data',
                    'address_data',
                    'category_data',
                    'city_data',
                    'country_data',
                    'customer_data',
                    'film_data',
                    'film_actor_data',
                    'film_category_data',
                    'film_text_data',
                    'language_data',
                    'payment_data',
                    'rental_data',
                    'staff_data',
                    'store_data'])

In [10]:
def summary_missing_data(table):
    missing_data = table.isnull()
    for column in missing_data.columns.values.tolist():
        print(column)
        print(missing_data[column].value_counts())
        print("")
    print("-------------- End ---------------------------", )
def summary_all_missing_data(all_table):
    for table in all_table:
        print(table.name)
        summary_missing_data(table)

summary_all_missing_data(array_table)

Checking the dataset for missing data, we were able to identify the following: <br>
<strong>Payment</strong> dataset has <strong>5</strong> missing  rental_id <br>
<strong>Rental</strong> dataset has <strong>183</strong> missing return_date <br>
In <strong>Staff</strong> dataset, <strong>one</strong> employee did not attach picture <br>
In <strong>Staff</strong> dataset, <strong>one</strong> employee did not have password  <br>

In [16]:
# Explore the fields of different datasets
for table in array_table:
    table.describe()

In [19]:
actor_data.describe()

       first_name last_name          last_update
count         200       200                  200
unique        128       121                    1
top      PENELOPE    KILMER  2006-02-15 04:34:33
freq            4         5                  200