In [1]:
import pandas as pd
import matplotlib as plt
city_data = pd.read_csv('city.csv', index_col = 0)
city_data.head()

                       city  country_id          last_update
city_id
1        A Corua (La Corua)          87  2006-02-15 04:45:25
2                      Abha          82  2006-02-15 04:45:25
3                 Abu Dhabi         101  2006-02-15 04:45:25
4                      Acua          60  2006-02-15 04:45:25
5                     Adana          97  2006-02-15 04:45:25

In [2]:
# This dataset raises this question: Do all the records come from 5 cities only from different countries, 
# or what does this dataset represent?

The question was addressed, we are dealing with 5 cities in 5 different countries

In [3]:
# This data need to be appended with the country dataset to have more insight as per which country does each country belong to