In [1]:
import pandas as pd
import matplotlib as plt
country_data = pd.read_csv('country.csv', index_col = 0)
country_data.head()

                   country          last_update
country_id
1              Afghanistan  2006-02-15 04:44:00
2                  Algeria  2006-02-15 04:44:00
3           American Samoa  2006-02-15 04:44:00
4                   Angola  2006-02-15 04:44:00
5                 Anguilla  2006-02-15 04:44:00