In [1]:
import pandas as pd
import matplotlib as plt
film_actor_data = pd.read_csv('film_actor.csv', index_col = 0)
film_actor_data.head()

          film_id          last_update
actor_id
1               1  2006-02-15 05:05:03
1              23  2006-02-15 05:05:03
1              25  2006-02-15 05:05:03
1             106  2006-02-15 05:05:03
1             140  2006-02-15 05:05:03

Only one actor's record was found

In [2]:
# There are a ton of question here, which as we progress we should be able to answer
# Match actor and film dataset to this dataset