In [1]:
import pandas as pd
import matplotlib as plt
film_category_data = pd.read_csv('film_category.csv', index_col = 0)
film_category_data.head()

         category_id          last_update
film_id
1                  6  2006-02-15 05:07:09
2                 11  2006-02-15 05:07:09
3                  6  2006-02-15 05:07:09
4                 11  2006-02-15 05:07:09
5                  8  2006-02-15 05:07:09

In [2]:
# Match film and category