In [1]:
import pandas as pd
import matplotlib as plt
staff_data = pd.read_csv('staff.csv', index_col = 0)
store_data = pd.read_csv('store.csv', index_col = 0)
staff_data.head()

,first_name,last_name,address_id,picture,email,store_id,active,username,password,last_update
staff_id,,,,,,,,,,
1,Mike,Hillyer,3,...,Mike.Hillyer@sakilastaff.com,1,1,Mike,8cb2237d0679ca88db6464eac60da96345513964,2006-02-15 03:57:16
2,Jon,Stephens,4,NaN,Jon.Stephens@sakilastaff.com,2,1,Jon,NaN,2006-02-15 03:57:16

In [2]:
store_data.head()

          manager_staff_id  address_id          last_update
store_id
1                        1           1  2006-02-15 04:57:12
2                        2           2  2006-02-15 04:57:12

In [ ]:
# Merge both